:root {
  /* Colors */
  --navbar-gray: rgb(60, 60, 60);
  --delete-color: #df372b;
  --divider-color: rgba(255, 0, 0, 0.631);
  --nobored-color: rgba(0, 159, 245, 0.7);
  --yellow-color: rgb(255, 192, 7);
  --white-color: #ffffff;
  /* Global */
  --transition: all 0.3s linear;
  --btn-transition: all 0.125s ease;
  --radius: 0.25rem;
  --btn-radius: 16px;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 4px 5px 15px rgba(0, 0, 0, 0.4);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://www.artmajeur.com/medias/standard/l/e/leeartgallery/artwork/12987929_m-99-eb.jpg?v=1580887689");
}

/* GLOBAL STYLE */
h1, h2, h3, h4, h5, h6, p, span, .linkfooter {
  color: white;
}

p {
  font-size: 16px;
  text-align: start;
}

a {
  text-decoration: none;
}

/*NAVBAR*/
.main-nav-link {
  text-decoration: none;
  color: white;
}

.main-nav-link:hover {
  text-decoration: none;
  color: var(--yellow-color);
}

#favourite-counter {
  background-color: var(--delete-color);
  padding: 8px;
}

.grey {
  background-color: var(--navbar-gray);
}
.yellow {
  color: var(--yellow-color) ;
}

#randomButton {
  background-image: url('https://www.artmajeur.com/medias/standard/l/e/leeartgallery/artwork/12987929_m-99-eb.jpg?v=1580887689');
  color: rgb(255, 255, 255);
  text-shadow: rgb(0, 0, 0) 8px 8px 10px;
  border: 1px solid var(--yellow-color);
}
#randomButton:hover {
background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSaK2a5m4nl19VDjOcwOPNtmky4AjO8M3XTaQ&usqp=CAU');
  text-shadow: black 2px 2px 5px;
  border: 1px solid var(--yellow-color);
}

/*NAVBAR*/

.form-field, .select-field {
  display: flex;
  justify-content: center;
}

.input-query {
  width: 50%;
}

.favourite-info {
  padding-left: 1rem;
  width: 100%;
}

#main-content {
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.74);
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1rem;
  }

  body {
    font-size: 1rem;
  }
}

.icon {
  padding: 0;
  margin: 0;
  font-size: 1rem;
}

.favourite-list li {
  padding: 1rem;
  width: 100%;
  border-bottom: 1px solid var(--divider-color);
}

.favourite-info {
  padding-left: 1rem;
  width: 100%;
}

@media screen and (min-width: 992px) {
  .favourite-info {
    height: 40px;
    display: grid;
    display: -moz-grid;
    display: -ms-grid;
    display: -webkit-grid;
  }
}

.favourite-info .favourite-activity {
  display: flex;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  color: var(--bg-blue);
  -ms-flex-align: center;
  align-items: center;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}

.favourite-info .favourite-activity button {
  border: none;
  padding: 0.2rem 0.425rem 0.1rem 0.425rem;
  background-color: transparent;
  box-shadow: unset;
  text-shadow: var(--light-shadow);
  color: var(--delete-color);
  font-size: 0.8rem;
}

.favourite-info .favourite-activity button:hover {
  background-color: var(--delete-color);
  color: white;
  box-shadow: var(--ligth-shadow);
}

.home-paragraph {
  font-size: 1.5rem;
}

article .favourite-info p {
  font-size: 0.8rem;
  color: var(--text-white);
  font-style: italic;
  width: 100%;
}

.btn-group {
  display: flex;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  width: 80%;
}