:root {
  /* Colors */
  --navbar-gray: rgb(60, 60, 60);
  --delete-color: #df372b;
  --divider-color: rgba(255, 255, 255, 0.174);
  /* Global */
  --transition: all 0.3s linear;
  --btn-transition: all 0.125s ease;
  --radius: 0.25rem;
  --btn-radius: 16px;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 4px 5px 15px rgba(0, 0, 0, 0.4);
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./assets/img/background.jpg");
}
/* GLOBAL STYLE */
h1, h2, h3, h4, h5, h6, p, span, .linkfooter {
  color: white;
    text-shadow: 2px 2px 5px black;
}
p{
  font-size: 16px;
  text-align: start;
}
a {
  text-decoration: none;
}

/*NAVBAR*/
.main-nav-link {
  text-decoration: none;
  color: white;
}
.main-nav-link:hover {
  text-decoration: none;
  color: greenyellow;
}
#favourite-counter{
  background-color: var(--delete-color);
  padding: 8px;
}
.grey {
  background-color: var(--navbar-gray);
}

/*NAVBAR*/
.home-paragraph h3 {
  color: var(--delete-color);
}
.home-paragraph h4 {
  color: greenyellow;
}

.form-field, .select-field {
  display: flex;
  justify-content: center;
}
.input-query {
  width: 50%;
}
.favourite-info {
  padding-left: 1rem;
  width: 100%;
}
#main-content {
  min-height: 100vh;
  background-color: rgba(60, 60, 60, 0.8);
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
}

.icon {
  padding: 0;
  margin: 0;
  font-size: 1rem;
}

.favourite-list li {
  padding: 1rem;
  width: 100%;
  border-bottom: 1px solid var(--divider-color);
}

.favourite-info {
  padding-left: 1rem;
  width: 100%;
}

@media screen and (min-width: 992px) {
  .favourite-info {
    height: 40px;
    display: grid;
    display: -moz-grid;
    display: -ms-grid;
    display: -webkit-grid;
  }
}

.favourite-info .favourite-activity {
  display: flex;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  color: var(--bg-blue);
  -ms-flex-align: center;
  align-items: center;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}

.favourite-info .favourite-activity button {
  border: none;
  padding: 0.2rem 0.425rem 0.1rem 0.425rem;
  background-color: transparent;
  box-shadow: unset;
  text-shadow: var(--light-shadow);
  color: var(--delete-color);
  font-size: 0.8rem;
}

.favourite-info .favourite-activity button:hover {
  background-color: var(--delete-color);
  color: white;
  box-shadow: var(--ligth-shadow);
}

article .favourite-info p {
  font-size: 0.8rem;
  color: var(--text-white);
  font-style: italic;
  width: 100%;
}

.btn-group {
  display: flex;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  width: 80%;
}
